html,body{
	height: 100%;
}

a.tab{
	color: #ddd;
}

.bg{
	margin-bottom: 40px;
	background-color: #fff;
	height: 100%;
	display: none;
}

.active-bg{
	display: block;
}


.content{
	background-color: rgba(255, 255, 255, 0.64);
	
	margin:5px 2.5%;
	height: 100%;
}

.nav-btm{
	border-radius: 4px;
	height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	color: #ddd;
	border-top: solid 1px #4ee3aa;
	text-align: center;

}

.nav-btm-item{
	display: inline-block;
	width: 35%;
	padding-top: 5px;
	margin:-1px -4px;
	font-size: 20px;
	padding-bottom: 6px;
}

.r{
	
	width: 34%;

}

.active-nav{
	background-color: #fff;
	color: #4ee3aa;
	border-top: none;
	border-right: solid 1px #4ee3aa;
	border-left: solid 1px #4ee3aa;
	border-bottom: solid 1px #4ee3aa;
}

.header{
	background-color: #4ee3aa;
	color: white;
	font-size: 24px;
	padding: 10px;

}

@media (min-width: 425px)
{
	.r{
		width:33%;
	}
}